<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="" name="application_name" source="spring.application.name" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%date %green(%level) %yellow([%thread]) %cyan(%logger{10}) [%file : %line] %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="local">
    <root level="info">
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>

</configuration>