<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order App | Customers </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;0,900;1,200;1,600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="page">
<nav class="navbar navbar-expand-lg navbar-light bg-brand">
    <a class="heading-5 navbar-brand" href="/">
        AnyCompany
        <img src="/images/Zebra-Head.svg" width="60" height="60" class="d-inline-block align-center" alt="Brand Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSC"
            aria-controls="navbarSC" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSC">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders"> Orders </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers"> Customers </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Admins
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/orders">Orders</a>
                    <a class="dropdown-item" href="/customers">Customers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Users</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid canvas rounded">
    <div class="row align-items-center wrapper">
        <div class="mx-auto col-12 col-md-10 col-lg-12 box">
            <h2 class="heading-2"> List of All <span th:text="${appName}">appName</span> Customers </h2>
            <p class="sub-heading-2">Below is the list of all our customers, remember everyone matters! <span
                    th:text="${name}">name</span></p>
            <div class="container bg-brand py-2 px-4">
                <div class="row">
                    <h5 class="heading-5 col-4 mb-2"> Customer Id </h5>
                    <h5 class="heading-5 col-4 mb-2"> Customer Name </h5>
                    <h5 class="heading-5 col-4 mb-2"> Customer Region </h5>
                </div>
                <th:block th:each="customer: ${customers}">
                    <a class="row" th:href="@{/orders/customer(customerid=${customer.id})}">
                        <span class="col-4 bg-brand-dark form-text" th:text="${customer.id}"> Customer Id </span>
                        <span class="col-4 bg-brand-dark form-text" th:text="${customer.name}"> Customer Name </span>
                        <span class="col-4 bg-brand-dark form-text"
                              th:text="${customer.country}"> Customer Region </span>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</div>

</body>
</html>