<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Order App | Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="page">
<div class="container-fluid canvas rounded">
    <div class="row align-items-center wrapper" >
        <div class="mx-auto col-12 col-md-10 col-lg-12 box">
            <h2 class="display-2">Customer Summary</span></h2>
            <p class="p-1 bg-secondary">Click the Link below to view all customer orders</p>
            <div class="container bg-info">
            <div class="row">
                <div class="col-3">
                    Customer ID
                </div>
                <div class="col-9">
                    <p th:text="${id}"></p>
                </div>
                <div class="col-3">
                    Customer Name
                </div>
                <div class="col-9">
                    <p th:text="${name}">name</p>
                </div>
                <div class="col-3">
                    Customer Region
                </div>
                <div class="col-9">
                    <span th:text="${country}">country</span>
                </div>
                <div class="col-3">
                    Date Of Birth
                </div>
                <div class="col-9">
                    <span th:text="${date_of_birth}">date_of_birth
                    </span>
                </div>
            </div>

            <div class="row mx-2 py-3">
                <p class="btn btn-primary btn-lg btn-block">Orders for <a class="text-dark"
                                                                          th:href="@{/orders/customer/(id=${id})}"><span
                        th:text="${name}">name</span></a></p>
            </div>
            </div>
        </div>
    </div>
</div>

</script>
</body>
</html>