<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Error Occurred</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script typpe="text/javascript" src="/js/main.js"></script>
</head>
<body class="page">
<div class="container">
    <h1>Error Occurred!</h1>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <div class="alert alert-danger" role="alert">
        <b>
            [<span th:text="${status}">status</span>]
            <span th:text="${error}">error</span>
        </b>
        <p th:text="${message}">message</p>
    </div>
</div>
</body>

</html>