<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order App | Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;0,900;1,200;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="page">
<div class="container-fluid canvas rounded">
    <div class="row align-items-center wrapper">
        <div class="mx-auto col-12 col-md-10 col-lg-12 box">
            <h2 class="heading-2">Welcome to 🎮 <span th:text="${appName}">appName</span> 🎲 </h2>
            <p class="sub-heading-2">We are leaders in the procurement and supply of Entertainment Gear! </p>
            <div class="container bg-brand py-2 px-4">
                <div class="row">
                    <h5 class="heading-5 col-4 mb-2"> Customer Id </h5>
                    <h5 class="heading-5 col-4 mb-2"> Customer Name </h5>
                    <h5 class="heading-5 col-4 mb-2"> Customer Region </h5>
                </div>
                <th:block th:each="customer: ${customers}">
                    <div class="row">
                        <!-- a th:href="@{/customers/(id=${id})}"> Customer Id  [[${id}]] </a> <br/ -->
                        <p class="col-4 bg-brand-dark" th:text="${customer.id}"> Customer Id </p>
                        <p class="col-4 bg-brand-dark" th:text="${customer.name}"> Customer Name </p>
                        <p class="col-4 bg-brand-dark" th:text="${customer.country}"> Customer Region </p>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="mx-auto col-12 col-md-10 col-lg-12 box">
            <div class="row box py-2 px-4">
                <a class="col btn-primary" href="/customers" > Show Customers</a>
                <a class="col btn-primary" href="/orders" > Show Orders</a>
                <a class="col btn-primary" href="/customer/orders" > Customer Orders </a>
                <a class="col btn-primary" href="/customers/orders" > Orders and Customers </a>
                <a class="col btn-primary" href="/order" > Place Order </a>
                <a class="col btn-primary" href="/customer/1" > View Customer </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>