<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Order App | Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div>
    <div class="row align-items-center alert alert-primary" style="height: 100vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <h1>Welcome to <span th:text="${appName}">appName</span></h1>
            <p>We are leaders in the procurement and supply of Entertainment Gear! </p>
            <div class="container">
                <div class="row">
                    <h5 class="col-4" > Customer Id </h5>
                    <h5 class="col-4" > Customer Name </h5>
                    <h5 class="col-4" > Customer Region </h5>
                </div>

                <th:block th:each="id: ${ids}">
                    <div class="row">
                        <!-- a th:href="@{/customers/(id=${id})}"> Customer Id  [[${id}]] </a> <br/ -->
                        <p class="col-4" th:text="${id}"> Customer Id </p>
                        <p class="col-4" th:text="${name}"> Customer Name </p>
                        <p class="col-4" th:text="${country}"> Customer Region </p>
                    </div>
                </th:block>

            </div>
        </div>
    </div>
</div>


</body>
</html>