<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Order App | Order </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;0,900;1,200;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script typpe="text/javascript" src="/js/main.js"></script>
</head>
<body class="page">
<div>
    <div class="row align-items-center" >
        <div class="mx-auto col-10 col-md-8 col-lg-12">
            <h1>Order Summary</span></h1>
            <p>The Details about the order are summarised below</p>
            <div class="row">
                <div class="col-3">
                    Order ID
                </div>
                <div class="col-9">
                    <p th:text="${orderId}">orderId</p>
                </div>
                <div class="col-3">
                    Order Value (R)
                </div>
                <div class="col-9">
                    <p th:text="${amount}">amount</p>
                </div>
                <div class="col-3">
                    VAT
                </div>
                <div class="col-9">
                    <span th:text="${VAT}">VAT</span>
                </div>
                <div class="col-3">
                    Customer ID
                </div>
                <div class="col-9">
                    <span th:text="${customerId}">customerId</span>
                </div>
            </div>
            <div class="row mx-2 py-3">
                <p class="btn btn-primary btn-lg btn-block">Ordered by <a class="text-dark"
                                                                          th:href="@{/customers/(${customerId})}"><span
                        th:text="${customerId}">customerId</span></a></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>